.shopping-center {
  /* background-color: green; */
  color: black;
}
.shopping-text h1{
  font-weight: 600;
}
.shopping-text {
  font-size: 2.4rem;
  font-weight: 500;
  /* background-color: red; */
}
.shop-section {
  /* height: 100vh; */
  width: 80%;
  margin: auto;
  /* padding: 20px; */
  /* background-color: red; */
  /* display: flex; */
  position: relative;
}
.shop-section .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110%;
  /* border-bottom: 1px solid black; */
  position: sticky;
  top: 130px;
}

.shop-section .icon {
  color: black;
  font-size: 2.4rem;
  background-color: none;
}
.products {
  height: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  /* flex-wrap: wrap;
  align-items: center; */
  width: 100%;
  margin: auto;
  /* background-color: aqua; */
}
.product {
  height: 300px;
  width: 250px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.product .new-product {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  font-size: 1rem;
  right: 0;
  width: 70px;
  height: 25px;
  z-index: 2;
}
.product .sold-out-product {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  font-size: 1rem;
  left: 0;
  width: 100px;
  height: 25px;
  z-index: 2;
}
.product img {
  height: 250px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
  object-fit: fill;
}
.product img:hover {
  opacity: 0.3;
  z-index: 0;
  /* background-color: red; */
}
.product-options {
  position: absolute;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-options:hover {
  z-index: 2;
}
.cart-option {
  font-size: 2rem;
  color: red;
  /* margin: 20px; */
  opacity: 1;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 15px; */
  /* background-color: red; */
  height: 40px;
  width: 90%;
}
.product-details h3, .product-details h5{
  font-weight: 500;
}
/* Product section */
.product-section {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.cart {
  right: 100px;
  color: black;
  font-size: 2.4rem;
}
.cart-link {
  /* background-color: aqua; */
  width: 50px;
  height: 50px;
  position: relative;
  /* position: absolute; */
  top: 20px;
  left: 83vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zoom 2s infinite;
  /* flex-direction: column; */
}
.cart-link span {
  font-size: 1.6rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  top: -5px;
  right: 0;
  color: white;
  margin: 2px;
  font-size: 1.2rem;
}
/* .product-section div {
  height: 80%;
  border: 1px solid black;
} */
.product-image {
  width: 25%;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-color: green;
}
.product-image .new-product {
  position: absolute;
  right: -20px;
  top: -40px;
  height: 70px;
  width: 220px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 50px;
  transform: rotate(15deg);
  background-color: red;
  color: white;
  font-size: 1.2rem;
}
.product-image .sold-out-product {
  position: absolute;
  height: 70px;
  width: 220px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 20px;
  transform: rotate(-15deg);
  background-color: red;
  color: white;
  font-size: 1.2rem;
  /* right: 0px; */
  top: -40px;
  left: -10px;
}
.product-image img {
  height: 100%;
  width: 100%;
}
.product-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding: 20px;
  margin-left: 20px;
  height: 500px;
  /* background-color: red; */
  border: 01px solid rgba(37, 37, 37, 0.2);
}
.product-text h1 {
  font-size: 2rem;
  font-weight: 600;
}
.product-text h5 {
  font-size: 1.2rem;
  font-weight: 600;
}
.product-text p {
  width: 90%;
  /* height: 50px; */
  font-size: 1rem;
  font-weight: 100;
  text-align: left;
  margin-top: 10px;
  line-height: 30px;
  letter-spacing: 2px;
  /* flex: 1; */
  height: 35%;
  /* background-color: red; */
}
.product-text strong,
.product-text small {
  font-size: 1.2rem;
  font-weight: 600;
}
.product-text span {
  font-size: 1.1rem;
}
.quantity-count {
  width: 75px;
  height: 30px;
  display: flex;
  font-size: 1.4rem;
}
.quantity-count span {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  cursor: pointer;
}

/* Cart Section */
.checkout-section {
  position: relative;
  height: 120vh;
  display: flex;
  /* flex-direction: column; */
}

.cart-items {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* background-color: crimson; */
}
.cart-intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
  padding: 0 50px;
}
.cart-intro h1 {
  font-size: 2.6rem;
  font-weight: 600;
}
.cart-intro h5 {
  font-size: 1.2rem;
  color: #333;
}
.cart-item {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: cyan; */
  padding: 10px;
  border-top: 1px solid #333;
}
.cart-item img {
  height: 100%;
  width: 200px;
  /* border: 1px solid black; */
}
.cart-item-details {
  height: 100%;
  width: 50%;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 20px;
  flex: 1;
}
.cart-item-details h4 {
  font-size: 1.6rem;
  font-weight: 500;
}
.cart-item-details p {
  width: 85%;
  text-align: left;
  font-size: 1rem;
}
.cart-item-details select {
  height: 30px;
  width: 70px;
  border-radius: 10px;
  outline: none;
  background-color: rgba(56, 56, 56, 0.6);
  color: white;
  padding: 2px 5px;
  font-size: 1rem;
  font-weight: 500;
}
.item-price {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.checkout-container {
  width: 300px;
  height: 350px;
  /* border-left: 1px solid black; */
  position: relative;
  box-shadow: 15px 5px 15px 10px #333;
}
.checkout-container .cart-link {
  color: red;
  /* background-color: cyan; */
  position: abdolute;
  top: 10px;
  left: 80%;
}
.checkout-container button {
  font-size: 1rem;
  height: 40px;
}
.order-totals {
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
}
.order-totals span {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 1.2px;
}
.order-totals h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 20px;
  font-weight: 600;
}
.order-totals i {
  font-size: 1.2rem;
  width: 100%;
  /* background-color: red; */
}

.user-details {
  display: none;
}
.user-active {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.8); */
  height: 400px;
  color: black;
}
.user-details button {
  font-size: 1rem;
  width: 120px;
  height: 30px;
}
.user-details h3 {
  font-weight: 500;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: aliceblue;
}
.user-details form {
  height: 90%;
  width: 600px;
  /* width: 100%; */
  color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
.user-details span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 60px;
  background-color: #333;
  border: 1px solid #333;
  padding: 10px;
  color: white;
}
.user-details h5 {
  font-weight: 500;
}
.user-details input {
  height: 100%;
  width: 300px;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 1rem;
  margin-left: 10px;
}
