@import "../../global.scss";

.shopping-center {
  color: $lightBlack;
  background-color: white;
  position: relative;

  .shopping-text {
    font-size: 2.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80px;
    position: relative;
    margin: auto;

    h1 {
      font-weight: 600;

      @include screen-res(phone) {
        font-size: 1.8rem;
      }
    }

    .cart-link {
      position: absolute;
      right: 0vw;
      top: 10px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        border-radius: 80%;
        background-color: $lightBlack;
        top: -5px;
        right: 0;
        color: white;
        margin: 2px;
        font-size: 1rem;
      }
    }
  }
  // Product Large Image
  .product-image-container {
    height: 80vh;
    width: 60vw;
    display: none;
    overflow: hidden;
    margin-top: 50px;

    &.active {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      background-color: $lightBlack;
      border-radius: 6px;
    }

    @include screen-res(phone) {
      width: 90vw;
      height: 70vh;
    }

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }

    .icon {
      color: $defaultBlue;
      position: absolute;
      right: 1%;

      &:hover {
        color: $defaultRed;
      }
    }
  }

  // Shop Section
  .shop-section {
    width: 80%;
    margin: auto;
    position: relative;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 110%;
      position: sticky;
      top: 130px;
    }

    .icon {
      font-size: 1rem;
      background-color: none;
    }

    .products {
      height: auto;
      display: grid;
      justify-content: space-evenly;
      grid-gap: 30px;
      width: 100%;
      margin: auto;

      @include screen-res(phone) {
        grid-template-columns: auto auto;
      }
      @include screen-res(tablet) {
        grid-template-columns: auto auto auto;
      }

      @include screen-res(desktop) {
        grid-template-columns: auto auto auto auto;
      }

      .product {
        border-radius: 10px;
        background-color: $lightBlack;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        @include screen-res(phone) {
          height: 200px;
          width: 170px;
        }

        @include screen-res(tablet) {
          height: 250px;
          width: 200px;
        }

        @include screen-res(desktop) {
          height: 300px;
          width: 250px;
        }

        & .new-product h2 {
          right: 0;
          width: 70px;
          background-color: $defaultBlue;

          @include screen-res(phone) {
            font-size: 1rem;
          }
        }

        & .sold-out-product h2 {
          left: 0;
          width: 100px;
        }

        img {
          height: 84%;
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          z-index: 1;
          object-fit: fill;

          &:hover {
            opacity: 0.3;
            z-index: 0;
          }
        }

        span {
          h2 {
            font-weight: 500;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $defaultRed;
            height: 8%;
            z-index: 2;

            @include screen-res(phone) {
              font-size: 1rem;
            }
          }
        }

        .product-options {
          position: absolute;
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &:hover {
            z-index: 2;
          }

          .cart-option {
            font-size: 2rem;
            color: $defaultRed;
            opacity: 1;

            @include screen-res(phone) {
              font-size: 1.4rem;
            }
          }
        }

        .product-details {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          height: 16%;
          width: 90%;

          h3,
          h5 {
            font-weight: 500;

            @include screen-res(phone) {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }

  // Cart Section
  .cart-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    background-color: white;

    .cart-intro {
      width: 100%;
      display: flex;
      justify-content: space-between;

      align-items: flex-end;
      margin-top: 20px;

      padding: 0 10px;

      h1 {
        font-size: 2.6rem;
        font-weight: 600;

        @include screen-res(phone) {
          font-size: 2rem;
        }
      }

      h5 {
        font-size: 1.2rem;
        color: $lightBlack;
      }
    }

    .cart-items {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 60%;

      @include screen-res(phone) {
        width: 90%;
      }
      @include screen-res(tablet) {
        width: 90%;
        // font-size: 2rem;
      }

      @include screen-res(desktop) {
        width: 70%;
      }

      .cart-item {
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-top: 1px solid $lightBlack;

        @include screen-res(phone) {
          height: 100px;
        }

        img {
          height: 100%;
          width: 100px;

          @include screen-res(phone) {
            width: 80px;
          }
        }

        .cart-item-details {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          padding: 5px 20px;
          flex: 1;

          @include screen-res(phone) {
            padding: 2px 5px;
          }

          h4 {
            font-size: 1rem;

            @include screen-res(phone) {
              font-size: 0.8rem;
            }
          }
          h5,
          strong {
            font-weight: 500;

            @include screen-res(phone) {
              font-size: 0.6rem;
            }
          }
          .quantity-count {
            width: 75px;
            height: 20px;
            display: flex;
            font-size: 1rem;

            @include screen-res(phone) {
              font-size: 0.8rem;
            }

            span {
              border: 1px solid $lightBlack;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              cursor: pointer;
            }

            button {
              border: 1px solid $lightBlack;
              width: 25px;
              background-color: none;

              &:hover {
                background-color: $defaultRed;
                color: white;
              }
            }
          }
        }

        i {
          color: red;
          cursor: pointer;

          @include screen-res(phone) {
            font-size: 0.7rem;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        .item-price {
          width: 150px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 1.2rem;

          @include screen-res(phone) {
            font-size: 0.8rem;
          }
        }
      }
    }

    // Checkout Container
    .checkout-container {
      width: 40%;
      height: 350px;
      border-top: 1.5px solid $lightBlack;

      button {
        font-size: 0.8rem;
        height: 40px;

        &.auth {
          background-color: $defaultRed;
        }
      }

      .order-totals {
        height: 100px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        span {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          letter-spacing: 1.2px;
        }

        h4 {
          font-size: 1rem;
          margin-right: 20px;

          @include screen-res(phone) {
            font-size: 0.8rem;
          }
        }
        i {
          font-size: 0.8rem;
          width: 100%;
        }
      }
    }

    .empty-cart {
      h2 {
        color: $defaultRed;
      }
      strong {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    // User Form
    .user-details {
      display: none;

      &.user-active {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 400px;
        color: $lightBlack;
      }

      button {
        font-size: 1rem;
        width: 120px;
        height: 30px;
      }

      form {
        height: 90%;
        width: 600px;
        color: $lightBlack;
        background-color: $lightBlack;

        @include screen-res(phone) {
          width: 90vw;
        }
        h3 {
          font-weight: 500;
          font-size: 1.2rem;
          color: white;

          @include screen-res(phone) {
            font-size: 1rem;
          }
        }

        span {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 80%;
          height: 60px;
          padding: 10px;
          color: white;

          @include screen-res(phone) {
          }

          h5 {
            font-weight: 500;

            @include screen-res(phone) {
              font-size: 1rem;
              width: auto;
            }
          }

          input {
            height: 100%;
            width: 300px;
            border: none;
            outline: none;
            padding: 5px 10px;
            font-size: 1rem;
            margin-left: 10px;

            @include screen-res(phone) {
              width: 200px;
              height: 35px;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
