@media only screen and (max-width: 600px) {
  .forest-image {
    height: 95vh;
  }
  .walk-text {
    font-size: 3.4rem;
    width: 90%;
  }
  .text {
    width: 100%;
    padding: 10px 10px;
  }
  .intro-text,
  .attendance-text,
  .input-container {
    width: 100%;
    height: 350px;
  }
  .intro-text p {
    line-height: 25px;
  }
  .input-container {
    height: 200px;
  }
}
