.walk-container {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}
.walk-section {
  position: relative;
}
.forest-image {
  height: 105vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.85;
  margin-top: -150px;
}
.walk-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 6rem;
  width: 40%;
}
.text {
  width: 40%;
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  line-height: 35px;
  /* margin-top: 50px; */
}
.intro-text h2,
.attendance-text h2,
.input-container h4 {
  font-size: 1.6rem;
  font-weight: 600;
  /* margin-bottom: 7px; */
}
.intro-text p {
  font-size: 0.9rem;
}

.intro-text,
.attendance-text,
.input-container {
  padding: 30px 30px;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 10px;
  width: 900px;
  text-align: left;
}
.intro-text {
  height: 270px;
}
.intro-text i {
  color: red;
}
.attendance-text {
  height: 220px;
}
.attendance-text ol {
  list-style: decimal;
  padding-left: 20px;
  font-size: 0.9rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  background-color: white;
  padding: 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 200px;
}
.input-container h4 {
  font-size: 1rem;
}
.input-container span {
  display: flex;
  width: 150px;
  justify-content: flex-start;
  align-items: center;
}
.input-container label {
  font-size: 12px;
  margin-left: 20px;
}
.input-container input {
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  font-size: 16px;
  background-color: none;
  transition: all ease-in 0.2s;
  /* width: ; */
}
.input-container input:focus {
  border-bottom: 2px solid #19b5fe;
}
.input-text {
  width: 60%;
}
