.team-text {
  width: 70%;
  height: 150px;
  margin: auto;
}
.team-text h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #141618;
}
.team-text p {
  font-size: 1.4rem;
  width: 100%;
  color: #141618;
}
.team-container {
  /* margin-top: 1050px; */
  margin: auto;
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 50px;
  padding: 20px 70px;
  cursor: pointer;
}
.team-member {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #141618;
}
.team-member .member-image {
  height: 100%;
  width: 100%;
}
.team-member img {
  height: 100%;
  width: 100%;
}
.team-member figcaption {
  position: absolute;
  padding: 10px;
  padding-right: 30px;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 110%;
  overflow-y: scroll;
  background-color: #141618;
  color: azure;
}
.team-member  h2 {
  font-weight: 600;
}
.team-member  h5 {
  font-weight: 500;
}
.team-member  .icon {
  font-size: 1.4rem;
  margin: 10px;
}
.team-user-profile {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: crimson; */
  width: 500px;
  height: 400px;
}
.profile img {
  height: 300px;
  width: 300px;
}
.profile h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
.profile span {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
}
.profile .icon {
  /* color: black; */
  color: #fff;
}

.user-bio {
  height: 500px;
  width: 900px;
  text-align: left;
  padding: 20px;
}
.user-bio h2 {
  font-size: 6rem;
  font-weight: 600;
  /* letter-spacing: 3px; */
}
.user-bio h5 {
  font-size: 1.4rem;
  font-weight: 500;
  /* letter-spacing: 3px; */
}

.user-bio p {
  margin-top: 20px;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 400;
  color: #5d6063;
}
