@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  transition: ease-in 0.2s;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif;
}

// Default colors
$defaultRed: #ff0845;
$darkRed: #ed1c24;
$darkBlue: #051229;
$lightBlack: #141618;
$grey: rgba(196, 197, 197, 1);
$lightGrey: rgba(196, 197, 197, 0.5);
$defaultBlue: #01adee;
$gold: #fbcc41;

// media queries
@mixin screen-res($res) {
  @if $res == phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else if $res == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  } @else if $res == desktop {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }
}
